@media screen and (max-width: 768px) {
.header{
    display: flex;
}
    .hello {
        overflow: hidden;
        gap: 150px;
        color: #ffff;
        overflow: scroll;
    //     &::-webkit-scrollbar {
    //       width: 14px;  
    //     }
    //   &::-webkit-scrollbar-thumb {
    //       background: #607B96; 
    //     }
        &__info-side {
          padding: 115px 0 0px 80px;
          width: 100%;
          white-space: wrap;
          &--first {
            h1 {
              font-size: 62px;
            }
            .typing{
              color: #ffff;
            }
            h2 {
              font-size: 32px;
              color: #43D9AD;
            }
          }
          &--second {
            margin-top: 90px;
            &__game{
                display: none;
            }
          }
        }
        &__game {
            display: none;
        }
      }
      #info__text--git {
        :nth-child(1) {
          color: #4d5bce;
        }
        :nth-child(2) {
          color: #43d9ad;
        }
        :nth-child(3) {
          color: #ffff;
        }
        :nth-child(4) {
          color: #e99287;
        }
      }

      .footer{
        display: none;
      }
}

